version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: senfo_postgres
    environment:
      POSTGRES_USER: senfo
      POSTGRES_PASSWORD: supersecurepassword
      POSTGRES_DB: senfo_platform
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U senfo -d senfo_platform" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: senfo_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
